<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/calc.js"></script>
    <script src="/js/includes.js"></script>
    <script src="https://unpkg.com/vue@3.0.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.11.6/page.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>Sou página cliente</h2>
      <!-- Uso do Router Pages -->
      <li><a href="/">Home</a></li>

      <!-- Uso do JQuery -->
      <div id="includedMenu"></div>
    </div>
    <div id="includedFooter"></div>
  </body>
</html>
